.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item {
  margin-left: 15px;
}

.header__logo {
  align-self: center;
}

.header__logo-image {
  display: block;
  height: 105px;
}

.address {
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  z-index: -2;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  color: #fff;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
}

.aligned-text_center {
  align-self: center;
  text-align: center;
}

.aligned-text_right {
  align-self: end;
  text-align: right;
}

.aligned-text_no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 107px;
}

.cover__description-text {
  font-size: 22px;
  font-weight: normal;
  line-height: 127%;
  word-spacing: 19px;
}

.bet-button {
  padding: 12px 32px 11px 31px;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 22px;
}

.lots {
  margin: 180px 24px 0;
}

.lots__heading {
  padding-bottom: 27px;
  padding-left: 40px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
}

.card-link {
  height: 100%;
}

.card {
  position: relative;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
}

.bg_cover_center {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline 1px;
  text-underline-offset: 2px;
}

.card__text {
  padding-top: 35px;
  color: #fff;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  display: block;
  padding: 30px 0 0 40px;
  font-size: 20px;
  text-decoration: underline;
}

.about {
  display: grid;
  grid-template-columns: 334px 2fr;
  gap: 25px;
  margin: 120px 24px 0;
}

.about__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  display: block;
  width: 148px;
}

.about__title {
  padding: 136px 0 100px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.about__text {
  padding-right: 5px;
  font-size: 20px;
  line-height: 120%;
}

.about__text:not(:last-child) {
  padding-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 180px;
  padding: 0 50px 92px;
}

.footer__address {
  justify-self: left;
}

.footer__menu {
  justify-self: center;
  text-align: center;
}

.footer__menu-list {
  list-style: none;
  font-size: 18px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  justify-self: right;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}